USE [master]
GO
/****** Object:  Database [qlk]    Script Date: 4/6/2024 7:33:40 PM ******/
CREATE DATABASE [qlk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\qlk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\qlk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlk]
GO
/****** Object:  Table [dbo].[DON_VI_TINH]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_TINH](
	[MADVT] [varchar](50) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
 CONSTRAINT [PK_DON_VI_TINH] PRIMARY KEY CLUSTERED 
(
	[MADVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [varchar](50) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](50) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYHOPTAC] [smalldatetime] NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MAPHIEUNHAP] [varchar](50) NOT NULL,
	[MASP] [varchar](50) NOT NULL,
	[MANCC] [varchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [varchar](max) NULL,
	[NGAYNHAPHANG] [smalldatetime] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[MAPHIEUXUAT] [nvarchar](50) NOT NULL,
	[MASP] [varchar](50) NOT NULL,
	[MAKH] [varchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [varchar](max) NULL,
	[NGAYXUATHANG] [smalldatetime] NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[TK] [nchar](10) NOT NULL,
	[MK] [varchar](50) NULL,
 CONSTRAINT [PK_Tai_Khoan] PRIMARY KEY CLUSTERED 
(
	[TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_Nhan_Vien]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_Nhan_Vien](
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GT] [nchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[Gmail] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 4/6/2024 7:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](50) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MADVT] [varchar](50) NOT NULL,
	[MANCC] [varchar](50) NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DON_VI_TINH] ([MADVT], [TENDV]) VALUES (N'dv1', N'bộ')
INSERT [dbo].[DON_VI_TINH] ([MADVT], [TENDV]) VALUES (N'dv2', N'chiếc')
INSERT [dbo].[DON_VI_TINH] ([MADVT], [TENDV]) VALUES (N'dv3', N'hộp')
GO
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [GHICHU]) VALUES (N'KH001', N'Cường CoinH', N'ĐH Đông Á', N'0123946875', N'hn12@gmail.com', N'fdđ')
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [GHICHU]) VALUES (N'KH002', N'Hải Tạ', N'ĐH Đông Á', N'0123946875', N'hn13@gmail.com', N'dbf')
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [GHICHU]) VALUES (N'KH003', N'Thành Hoi', N'ĐH Đông Á', N'0123946875', N'hn14gmail.com', N'dbfj')
GO
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [NGAYHOPTAC]) VALUES (N'VLNT', N'Công ty A', N'Hn', N'0415153665', N'sanphamyte1@gmail.com', CAST(N'2024-02-03T00:00:00' AS SmallDateTime))
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [NGAYHOPTAC]) VALUES (N'SPYT', N'Công ty B', N'Bắc Từ Liêm', N'0394655876', N'sanphamyte2@gmail.com', CAST(N'2024-12-03T00:00:00' AS SmallDateTime))
INSERT [dbo].[NHA_CUNG_CAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [NGAYHOPTAC]) VALUES (N'VLXK', N'Công ty C', N'hanoii', N'0554243535', N'sanphamyte3@gmail.com', CAST(N'2024-11-02T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[PHIEU_NHAP] ([MAPHIEUNHAP], [MASP], [MANCC], [SOLUONG], [THANHTIEN], [NGAYNHAPHANG], [MANV]) VALUES (N'NK001', N'SP1', N'SPYT', 355, N'35000000', CAST(N'2024-12-03T00:00:00' AS SmallDateTime), N'2155010285')
INSERT [dbo].[PHIEU_NHAP] ([MAPHIEUNHAP], [MASP], [MANCC], [SOLUONG], [THANHTIEN], [NGAYNHAPHANG], [MANV]) VALUES (N'NK002', N'SP2', N'SPYT', 400, N'100000000', CAST(N'2024-06-21T00:00:00' AS SmallDateTime), N'2155010285')
INSERT [dbo].[PHIEU_NHAP] ([MAPHIEUNHAP], [MASP], [MANCC], [SOLUONG], [THANHTIEN], [NGAYNHAPHANG], [MANV]) VALUES (N'NK003', N'SP3', N'SPYT', 2, N'200000', CAST(N'2024-04-04T21:55:00' AS SmallDateTime), N'2155010285')
GO
INSERT [dbo].[PHIEU_XUAT] ([MAPHIEUXUAT], [MASP], [MAKH], [SOLUONG], [THANHTIEN], [NGAYXUATHANG], [MANV]) VALUES (N'XK1', N'SP1', N'KH001', 12, N'3000000', CAST(N'2024-03-01T00:00:00' AS SmallDateTime), N'2155010285')
INSERT [dbo].[PHIEU_XUAT] ([MAPHIEUXUAT], [MASP], [MAKH], [SOLUONG], [THANHTIEN], [NGAYXUATHANG], [MANV]) VALUES (N'XK2', N'SP1', N'KH001', 121, N'3000000', CAST(N'2024-03-01T00:00:00' AS SmallDateTime), N'2155010285')
INSERT [dbo].[PHIEU_XUAT] ([MAPHIEUXUAT], [MASP], [MAKH], [SOLUONG], [THANHTIEN], [NGAYXUATHANG], [MANV]) VALUES (N'XK3', N'SP1', N'KH001', 12, N'3000000', CAST(N'2024-03-01T00:00:00' AS SmallDateTime), N'2155010285')
GO
INSERT [dbo].[Tai_Khoan] ([TK], [MK]) VALUES (N'admin', N'123')
GO
INSERT [dbo].[TT_Nhan_Vien] ([MaNV], [TenNV], [GT], [NgaySinh], [DiaChi], [SDT], [Gmail]) VALUES (N'247', N'QuyGiang', N'Nam', CAST(N'2003-02-04' AS Date), N'Ha Noi', N'0398857863', N'user1@gmail.com')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MADVT], [MANCC], [GHICHU]) VALUES (N'VT1', N'Ống truyền dịch ', N'dv2', N'SPYT', N'c')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MADVT], [MANCC], [GHICHU]) VALUES (N'VT2', N'Ống nối dài', N'dv6', N'SPYT', N's')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MADVT], [MANCC], [GHICHU]) VALUES (N'VT3', N'Anaconda', N'dv7', N'SPYT', N'f')
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[Tai_Khoan] ([TK])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_VATTU] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_SANPHAM]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[Tai_Khoan] ([TK])
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHACH_HANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHACH_HANG]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_SANPHAM]
GO
ALTER TABLE [dbo].[TT_Nhan_Vien]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[Tai_Khoan] ([TK])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MADVT])
REFERENCES [dbo].[DON_VI_TINH] ([MADVT])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DON_VI_TINH] FOREIGN KEY([MADVT])
REFERENCES [dbo].[DON_VI_TINH] ([MADVT])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DON_VI_TINH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHA_CUNG_CAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHA_CUNG_CAP]
GO
USE [master]
GO
